name: Windows build 
on: [push,pull_request]

jobs:
  build:
    name: Create Release
    runs-on: windows-2019
    steps:
    - name: COM Cpp files
      run: |
        curl -O  https://raw.githubusercontent.com/ytmo/LeapYearCheak/master/Cpp/main.cpp;g++ main.cpp -o LeapYearCheak.Cpp.exe
    - name: COM C files
      run: |
        curl -O  https://raw.githubusercontent.com/ytmo/LeapYearCheak/master/C/main.c;gcc main.c -o LeapYearCheak.C.exe
    - name: Upload Release When Tag
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
          files: |
            LeapYearCheak.C.exe
            LeapYearCheak.Cpp.exe
          name: LeapYearCheak Release ${{ github.ref }}
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
